body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color: #16A085;
}

img{
  max-width: 100%;
}

.full-screen{
  min-width: 100vw;
  min-height: 100vh;
}

.background{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.page{
  display: flex;
}

.main{
  padding: 30px;
  background-color: #fff;
  /* border: solid 1px #000; */
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/img/background.jpg);
  position: relative;
}

.space-50{
  margin-bottom: 50px;
}

.shadow{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.title{
  color: var(--main-color);
  font-size: 3em;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}

.sub-title{
  color: var(--main-color);
}

.line{
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid-3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/* Box starts here */

.box{
  align-self: center;
  width: 100%;
}

.box-title{
  width: 50%;
  background-color: white;
  color: #000;
  padding: 10px 20px;
  font-size: 20px;
}

.details{
  background-color: rgba(47, 62, 75, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #fff;
  padding: 10px 30px;
}

.box-image{
  max-width: 200px;
}

.box-subtitle{
  color: #FFD514;
  font-size: 4rem;
}

.clock-wrap{
  background-color: #1BBC9B;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 20vw;
}

.clock {
  position: relative;
  background-image: url('../src/assets/img//e-clock.png');
  background-position: center;
  background-repeat: no-repeat;
  /* width: 20vw; */
  height: 500px;
  background-size: contain;
}

.h-hand {
  position: absolute;
  left: 48%;
  top: 150px;
  background-image: url('../src/assets/img//hour.png');
  height: 105px;
  width: 27px;
  background-size: 27px 105px;
  transform-origin: 50% 95%;
}
.m-hand {
  position: absolute;
  left: 48%;
  top: 80px;
  background-image: url('../src/assets/img//min.png');
  height: 180px;
  width: 20px;
  background-size: 20px 180px;
  transform-origin: 50% 95%;
}
.s-hand {
  position: absolute;
  left: 48%;
  top: 80px;
  background-image: url('../src/assets/img//sec-e.png');
  height: 180px;
  width: 30px;
  background-size: 30px 180px;
  transform-origin: 45% 95%;
}

.clock-title{
  text-align: center;
  color: white;
}

.result{
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px){
  .main{
      width: 100%;
  }

  .product-details{
      font-size: 20px;
  }

  .page{
      flex-direction: column;
  }

  .clock-wrap{
      width: 100%;
  }

  .details{
      flex-direction: column;
      align-items: start;
  }
}
